#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#topbar {
  display: flex;
  background: #144272;
}

#topbar button {
  background: transparent;
  padding: 20px;
  color: rgba(255, 255, 255, 0.85);
  border: none;
  text-transform: uppercase;
}
#topbar button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#task-actions {
  display: flex;
  margin-left: auto;
}

main {
  display: flex;
  flex-grow: 1;
}

#task-list {
  width: 30%;
  background: #eee;
}

#task-list .item {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  color: #333;
}
#task-list .item:hover {
  background: #ddd;
}

#task-pane {
  width: 70%;
  display: flex;
  flex-flow: column;
}

#task-pane.no-task {
  padding: 15px;
  text-align: center;
}

input {
  width: 100%;
  border: none;
  padding: 15px;
  font-weight: bold;
  font-size: 21px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

#task-pane-body {
  flex-grow: 1;
  background: green;
}
textarea {
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
  display: block;
}
textarea:focus {
  outline: none;
}
